body {
  font-family: 'Lato', sans-serif;
}

input {
  border: 2px solid rgb(207, 207, 207);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: gray;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  height: 20%;
  flex: 1
}

.App-title {
  font-size: 3em;
  margin: 0 auto
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  align-self: center;
  display: flex;
  flex-direction: column;  
  line-height: normal;
  vertical-align: middle;
  flex: 4
}

.field-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex: 0 1
}

.first-field {
  flex: 1;
  height: 25px;
  margin-top: 1%;
  line-height: 25px;
  vertical-align: middle;
  padding: 6px 8px 6px 0;  
  border-radius: 10px
}

.second-field {
  flex: 3;
  height: 25px;
  margin-top: 1%;
  line-height: 25px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
  padding: 6px 8px 6px 0;  
  border-radius: 10px;
  min-width: 600px;
}

.array {
  align-self: flex-start;
  display: flex;
  font-size: 40px;
  margin-left: 1%;
  align-items: center;
  justify-content: center;
}

.obj {
  align-self: flex-start;
  display: flex;
  font-size: 40px;
  margin-left: 5%;
  line-height: normal;
  align-items: center;
  justify-content: center
}

.obj-input {
  border: 1px solid rgb(230, 230, 230);
  width: 2vw;
  min-width: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 5px
}

.obj-input-ok {
  border: 2px solid #81C784;
  width: 2vw;
  min-width: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 5px
}

.colon {
  align-self: center;
  font-size: 30px;
  margin: 0 1%;
  line-height: 30px;
}

label {
  font-size: .35em;
  margin-left: 25px;
  line-height: 50px;
  vertical-align: middle;
  color: rgb(207, 207, 207);
  text-transform: uppercase;
  font-weight: 700
}

.inputs {
  flex: 0 1;
  height: 30px;
  margin-left: 8px;
  border: 2px solid rgb(207, 207, 207);
  -webkit-appearance: none;
  -moz-appearance: none;
  color: gray;
  text-align: center;
  font-weight: 700;  
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.inputs-error {
  flex: 0 1;
  height: 30px;
  margin-left: 8px;
  border: 2px solid #EF5350;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: gray;
  text-align: center;
  font-weight: 700;  
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.inputs-ok {
  flex: 0 1;
  height: 30px;
  margin-left: 8px;
  border: 2px solid #81C784;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: gray;
  text-align: center;
  font-weight: 700;  
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.introduction {
  height: 20px
}

.add-field {
  font-size: 25px;
  margin-left: 5px;
  line-height: 50px;
  cursor: pointer;
  vertical-align: middle;
  color: #81C784
}

.add-field-error {
  font-size: 25px;
  margin-left: 5px;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  color: #EF5350
}

.remove-field {
  font-size: 25px;
  margin-left: 5px;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  color: #81C784
}

.remove-field-error {
  font-size: 25px;
  margin-left: 5px;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  color: #EF5350
}

.button {
  height: 20px;
  cursor: pointer;
  margin-left: 5px;
  color: white;
  display: inline;
  border: none;
  background-color: #81C784;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px
}

.submit {
  vertical-align: middle;
  padding: 6px;
  cursor: pointer;
  border: none;
  margin-left: 20px;
  color: white;  
  border-radius: 10px;
  background-color: #81C784
}

textarea {
    padding:10px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width:600px;
    height: 500px;
    border-radius:10px;
}

.empty-keys {
  margin: 1.5vh auto;
  background-color: #EF5350;
  border-radius: 10px;
  padding: 10px;
  color: white  
}

