@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: gray
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10%;
  padding: 20px;
  color: white;
  flex: 1
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  align-self: center;
  display: flex;
  flex-direction: column;  
  line-height: normal;
  vertical-align: middle;
  margin-top: 2%
}

.field-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px
}

.first-field {
  flex: 1;
  height: 35px;
  margin-top: 1%;
  line-height: 35px;
  vertical-align: middle;
  background-color: #F5F5F5;
  padding: 5px;  
  border-radius: 10px
}

.second-field {
  background-color: #E0E0E0;
  flex: 3;
  height: 35px;
  margin-top: 1%;
  line-height: 35px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 550px;
  padding: 5px;
  border-radius: 10px
}

.second-field-ok {
  background-color: #81C784;
  flex: 3;
  height: 35px;
  margin-top: 1%;
  line-height: 35px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 550px;
  padding: 5px;
  border-radius: 10px
}

.array {
  align-self: flex-start;
  font-size: 50px;
  margin-left: 1%
}

.colon {
  align-self: center;
  font-size: 30px;
  margin: 0 1%;
  line-height: 30px;
}

input {
  height: 28px;
  width: 150px;
  border: none;
  padding-left: 10px
}

.field-item select, input {
  flex: 0 1;
  height: 30px;
  margin-left: 5px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: gray;
  text-align: center
}

.introduction {
  height: 100px
}

.add-field {
  font-size: 30px;
  margin-left: 25px;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  color: gray
}

.remove-field {
  font-size: 30px;
  margin-left: 13px;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  color: gray
}

.button {
  height: 30px;
  cursor: pointer;
  border: none;
  margin-left: 5px;
  color: gray
}